button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: aqua;
  color: antiquewhite;
}
input{
  width: 500px;
  height: 40px;
  background: royalblue;
  border: none;
  border-radius: 15px;
}